<!-- IF searchresults.EXCHANGE && searchresults.SYMBOL -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-singleticker-container">
	<div class="tradingview-singleticker-container__widget"></div>
	<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
		{
			"symbols": [
			{
				"description": "",
				"proName": "{searchresults.EXCHANGE}:{searchresults.SYMBOL}"
			}
		],
				"locale": "en"
		}
	</script>
</div>
<!-- TradingView Widget END -->
<!-- ENDIF -->
